@using Deville.EntityDataModel
@model IEnumerable<ServiceCategory>
@{
    ViewBag.Title = "Прайс-листы";
    Layout = "~/Views/Layouts/DefaultLayouts.cshtml";
}

@section styles {
    <style>
        .main-content .top {
            background-image: url('/content/img/banner1.png');
            background-repeat: no-repeat;
            background-size: cover;
            height: 300px;
        }
    </style>
}

<section class="top">
    <!-- There located top bckg image, which different in other pages -->
    <header class="capital-letter-pink">
        @ViewBag.Title
    </header>
</section>
<section class="content">
    @foreach (ServiceCategory sc in Model)
    {
        <h1>@sc.Name</h1>
        <div class="articles">
            <p>@sc.Description</p>
        </div>
        if (sc.Services.Count > 0)
        {
            var isPriceHasValue = sc.Services.FirstOrDefault().Price.HasValue;
        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>Наименование услуги</th>
                    @if (!isPriceHasValue)
                    {
                        <th>@Html.DisplayNameFor(service => service.Services.First().VirtuosoPrice)</th>
                        <th>@Html.DisplayNameFor(service => service.Services.First().ExpertPrice)</th>
                        <th>@Html.DisplayNameFor(service => service.Services.First().HandymanPrice)</th>
                    }
                    else
                    {
                        <th>@Html.DisplayNameFor(service => service.Services.First().Price)</th>
                    }
                </tr>
            </thead>

            <tbody>
                @foreach (ServiceSubcategory ss in sc.ServiceSubcategories)
                {
                    if (ss.Services.Count > 0)
                    {
                    <tr class="subcategory">
                        <td>
                            @ss.Title
                        </td>
                        @if (!isPriceHasValue)
                        {
                            <td></td>
                            <td></td>
                            <td></td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                    }
                    foreach (Service s in ss.Services)
                    {
                    <tr>
                        <td>@s.Name</td>
                        @if (!isPriceHasValue)
                        {
                            <td>@Html.DisplayFor(model => s.VirtuosoPrice)</td>
                            <td>@Html.DisplayFor(model => s.ExpertPrice)</td>
                            <td>@Html.DisplayFor(model => s.HandymanPrice)</td>
                        }
                        else
                        {
                            <td>@Html.DisplayFor(model => s.Price)</td>
                        }
                    </tr>
                    }

                }
                @if (sc.Services.Where(s => !s.SubcategoryId.HasValue).Count() > 0)
                {
                    <tr class="subcategory">
                        <td>Прочее
                        </td>
                        @if (!isPriceHasValue)
                        {
                            <td></td>
                            <td></td>
                            <td></td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                        foreach (Service s in sc.Services.Where(s => !s.SubcategoryId.HasValue))
                        {
                    <tr>
                        <td>@s.Name</td>
                        @if (!isPriceHasValue)
                        {
                            <td>@Html.DisplayFor(model => s.VirtuosoPrice)</td>
                            <td>@Html.DisplayFor(model => s.ExpertPrice)</td>
                            <td>@Html.DisplayFor(model => s.HandymanPrice)</td>
                        }
                        else
                        {
                            <td>@Html.DisplayFor(model => s.Price)</td>
                        }
                    </tr>
                        }
                }
            </tbody>
        </table>
        }
        else
        {
        @: В данной категории нет ни одной услуги.
        }
    }
    @if (Model.Count() == 0)
    {
        @: Нет ни одной категории услуг.
    }
</section>

