@using Deville.EntityDataModel
@model IEnumerable<ProductCategory>
@{
    ViewBag.Title = "Профессиональная косметика";
    Layout = "~/Views/Layouts/DefaultLayouts.cshtml";
}

@section styles {
    <style>
        .main-content .top {
            background-image: url('/content/img/banner_shop.png');
            background-repeat: no-repeat;
            background-size: cover;
            height: 300px;
        }
    </style>
}

<section class="top">
    <!-- There located top bckg image, which different in other pages -->
    <header class="capital-letter-pink">
        Профессиональная <br />
        косметика
    </header>
</section>
<section class="content b-container">
    @if (Model.Count() > 0)
    {
        <div class="pure-g">
            @{int i = 0;}
            @foreach (ProductCategory pc in Model)
            {
                i++;
                <!-- Block wrapper -->
                <div class="pure-u-1-3 b-wrap">
                    <a href="@Url.Action("Index", "Product", new { categoryId = pc.Id })" class="thumbnail" title="@pc.Description">
                        <!-- Img container -->
                        <div class="b-img">
                            <img class="pure-img" src="@pc.ImgCover" alt="@pc.Title" />
                        </div>
                        <!-- Bottom title -->
                        <div class="b-title @(i % 2 == 0 ? "pink" : "")">
                            @pc.Title
                        </div>
                    </a>
                </div>
            }
        </div>
    }
    else
    {
        @: Нет ни одного категории продуктов.
    }
</section>