@model IEnumerable<Brio.Models.Review>

@{
    ViewBag.Title = "ОТЗЫВЫ";
    Layout = "~/Views/Layouts/LayoutDefault.cshtml";
}

@section styles{
    <style>
        .jspVerticalBar {
            left: 0;
        }

        .jspContainer {
            width: 100% !important;
        }

        .jspPane {
            width: 100% !important;
        }

        .page_logo {
            background: url('../Content/images/reviews.png') no-repeat 0 0;
            background-size: contain;
        }
    </style>
}

<div class="container run1">
    <div data-id="0" class="slider"></div>
</div>

<div class="page_logo_container"><div class="page_logo"></div></div>

<div class="block_ins">
    <div class="title">
        @ViewBag.Title
    </div>
    <article class="page-content relative-width review">
        <div class="price_container">
            @foreach (var item in Model)
            {
                <div class="price_row" data-reviewId="@item.ID">
                    <div class="price_title">
                        @item.Date.ToString("d MMMM yyyy")г.
                        <div class="price_date">
                            @item.Date.ToString("H:mm")
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="admin_buttons review_but">
                                <a href="/Review/Edit/@item.ID"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="/Review/Delete/@item.ID" class="delete" onclick="return confirm('Вы действительно хотите удалить отзыв?')" data-docId="@item.ID"><i class="fa fa-times"></i></a>
                            </div>
                        }
                    </div>
                    <div class="arrow_corner">
                        
                    </div>
                </div>
            }

            @if (Model.Count() < 5)
            {
                for (var i = 0; i < (5 - Model.Count()); i++)
                {
                    @:<div class="price_row empty"><div class="arrow_corner"></div></div>
                }
            }

        </div>
        <div class="right-block">
            <div class="articles">
                <div class="padding_container">
                    <div class="review_header">
                    </div>
                    <div class="message"></div>
                </div>
            </div>
        </div>

        <div class="brio-tasks sm">
            @if (Model.Count() > 0) { 
                <div class="author_info">
                    <div class="info_container">
                        <div class="author_position">
                        </div>
                        <div class="author_company">
                        </div>
                        <div class="author_photo">
                            <img src="" />
                        </div>
                    </div>
                </div>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <div class="add_button_bot review_but"><a href="/Review/Add">Добавить отзыв</a></div>
            }
            <div class="bottom-corner"></div>
        </div>
    </article>
</div>

<script>
    (function () {
        $('.price_container').jScrollPane();

        $(".price_row:first-child:not(.empty)").addClass("active_price").find(".arrow_corner").show();
        getReviewContent($(".price_row:first-child").attr("data-reviewId"), function(review){
            $(".articles .message").text(review.Message);
            $(".review_header").text(review.AuthorName);
            $(".author_position").text(review.AuthorPosition);
            $(".author_company").text(review.AuthorCompany);
            $(".author_photo img").attr("src", review.AuthorAvatar);
        });
        $(".price_row:not(.empty)").bind("click", function () {
            $(".arrow_corner").hide();
            $(".price_row").removeClass("active_price");
            $(this).addClass("active_price").find(".arrow_corner").show();
            getReviewContent($(this).attr("data-reviewId"), function(review){
                $(".articles .message").text(review.Message);
                $(".review_header").text(review.AuthorName);
                $(".author_position").text(review.AuthorPosition);
                $(".author_company").text(review.AuthorCompany);
                $(".author_photo img").attr("src", review.AuthorAvatar);
            });
            
        });
    })();

    function getReviewContent (reviewId, callBack)
    {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: "/Review/GetReviewContent",
            data: "reviewId=" + reviewId,
            success: function (review) {
                callBack(review);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log("request failed");
            },
            processData: false,
            async: false
        });
    }
</script>
