@model Brio.Models.LoginUser

@{
    ViewBag.Title = "ВХОД";
    Layout = "~/Views/Layouts/LayoutDefault.cshtml";
}

<div class="container run1">
    <div data-id="0" class="slider"></div>
</div>
<div class="block_ins">
    <div class="title">
        @ViewBag.Title
    </div>
    <article class="page-content">
        <div class="articles">
            <div class="padding_container">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "pure-form pure-form-aligned", enctype = "multipart/form-data" }))
                {
                    <fieldset>
                        <div class="pure-control-group">
                            @Html.LabelFor(model => model.Email)
                            @Html.EditorFor(model => model.Email)
                        </div>
                        <div class="pure-control-group">
                            @Html.LabelFor(model => model.Password)
                            @Html.PasswordFor(model => model.Password)
                        </div>
                        <div class="pure-control-group">
                            @Html.LabelFor(model => model.RememberMe)
                            @Html.CheckBoxFor(model => model.RememberMe)
                        </div>
                        <div class="pure-controls">
                            <button type="submit" class="pure-button pure-button-primary">ВОЙТИ</button>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
        <div class="brio-tasks">
            <div class="bottom-corner"></div>
        </div>
    </article>
</div>
