@model Deville.Models.Showcases.AddPhoto
@{
    ViewBag.Title = "Добавить";
    Layout = "~/Areas/Admin/Views/Layouts/AdminDefaultLayouts.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-10">
        @using (Html.BeginForm("Add", "Photo", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.Hidden(Html.NameFor(model => model.AlbumId).ToString(), (int)ViewBag.AlbumId)
            
            <div class="form-group @(IsPost && ViewData.ModelState[Html.NameFor(model => model.Name).ToString()].Errors.Count > 0 ? "has-error" : String.Empty)">
                @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.Name) })
                    <span class="help-block">@Html.ValidationMessageFor(model => model.Name)</span>
                </div>
            </div>

            <div class="form-group @(IsPost && ViewData.ModelState[Html.NameFor(model => model.ImgUrl).ToString()].Errors.Count > 0 ? "has-error" : String.Empty)">
                @Html.LabelFor(model => model.ImgUrl, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.ImgUrl, new { type = "file", placeholder = Html.DisplayNameFor(model => model.ImgUrl) })
                    <span class="help-block">@Html.ValidationMessageFor(model => model.ImgUrl)</span>
                </div>
            </div>
        
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Добавить</button>
                @Html.ActionLink("Отмена", "Index", new { albumId = (int)ViewBag.AlbumId }, new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>
